<h1>Bookings</h1>

<%= link_to 'New Booking', new_admin_booking_date_path %>

<table>
  <thead>
    <tr>
      <th>Tour Title</th>
      <th>Day</th>
      <th>Client Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |admin_booking_date| %>
      <tr>
        <td><%= admin_booking_date.tour.title %></td>
        <td><%= admin_booking_date.day %></td>
        <td><%= admin_booking_date.companie.name %></td>
        <td><%= link_to 'Show', admin_booking_date_path(admin_booking_date) %></td>
        <td><%= link_to 'Edit', edit_admin_booking_date_path(admin_booking_date) %></td>
        <td><%= link_to 'Destroy', admin_booking_date_path(admin_booking_date), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
