<%= form_with(model: [:admin, tour], local: true) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Base:</legend>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "input" %>
    </div>

    <div class="field">
      <%= form.label :artist_country %>
      <%= form.text_field :artist_country, class: "input" %>
    </div>

    <div class="field">
      <%= form.label :tour_caption %>
      <%= form.text_field :tour_caption, class: "input" %>
    </div>

    <div class="field">
      <%= form.label :cover_image %>
      <%= form.file_field :cover_image, class: "form-control", require: true %>
      <br><br>
      <%= image_tag @tour.cover_image.representation(resize: '200x200') if @tour.cover_image.attached? %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <br>
      <%= form.text_area :description, style: "height: 100px; width: 100%;" %>
    </div>

    <div class="field">
      <%= form.label :video_uri %>
      <%= form.text_field :video_uri, class: "input" %>
    </div>

    <div class="field">
      <%= form.label :housing, "Housing needed?" %>
      <%= form.check_box :housing %>
    </div>

    <div class="field">
      <%= form.label :catering, "Catering needed?" %>
      <%= form.check_box :catering %>
    </div>

    <div class="field">
      <%= form.label :tech_sheet %>
      <%= form.file_field :tech_sheet, class: "form-control" %>
      <br><br>
      <%= link_to 'fiche technique', @tour.tech_sheet if @tour.tech_sheet.attached? %>
    </div>

    <div class="field">
      <%= form.label :price_normal %>
      <%= form.number_field :price_normal, value: @tour.price_normal.to_f, min: 0, step: 0.01, class: "input" %>
    </div>

    <div class="field">
      <%= form.label :price_braaam %>
      <%= form.number_field :price_braaam, value: @tour.price_braaam.to_f, min: 0, step: 0.01, class: "input" %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Dates:</legend>
    <div id="dates">
      <%= form.fields_for :booking_dates do |date| %>
        <%= render "booking_date_fields", f: date %>
      <% end %>
      <br>
      <div class="links">
        <%= link_to_add_association 'add date', form, :booking_dates %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Awards:</legend>
    <div id="awards">
      <%= form.fields_for :awards do |award| %>
        <%= render "award_fields", f: award %>
      <% end %>
      <br>
      <div class="links">
        <%= link_to_add_association 'add award', form, :awards %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Comments:</legend>
    <div id="comments">
      <%= form.fields_for :comments do |comment| %>
        <%= render "comment_fields", f: comment %>
      <% end %>
      <br>
      <div class="links">
        <%= link_to_add_association 'add comment', form, :comments %>
      </div>
    </div>
  </fieldset>
  <br>
  <div class="actions">
    <%= form.submit "Save", class: "submit" %>
    <%= link_to 'Back', admin_tours_path, class: "btn" %>
  </div>
  <br>
<% end %>
