<p id="notice"><%= notice %></p>

<%= c "admin/title", text: Tour.model_name.human + "s" %>

<br>

<%= link_to t("admin.add_tour"), new_admin_tour_path, class: "btn" %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th><%= Tour.human_attribute_name("title") %></th>
      <th><%= Tour.human_attribute_name("tour_start_date") %></th>
      <th><%= Tour.human_attribute_name("tour_end_date") %></th>
      <th><%= Tour.human_attribute_name("creator") %></th>
      <th><%= Tour.human_attribute_name("status") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.title %></td>
        <td><%= l(tour.tour_start_date) unless tour.tour_start_date.blank? %></td>
        <td><%= l(tour.tour_end_date) unless tour.tour_end_date.blank?  %></td>
        <td><%= tour.creator_name %></td>
        <td>tour.status</td>
        <td><%= link_to t("admin.show"), [:admin, tour], class: "btn" %> <%= link_to t("admin.edit"), edit_admin_tour_path(tour), class: "btn" %> <%= link_to t("admin.delete"), [:admin, tour], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
