<%= c "container" do %>
  <div class="tour-index">
    <h1>Next Tours</h1>
    <div class="tour-index--list">
      <% unless @tours_collection.empty? %>
        <% @tours_collection.each do |tour| %>
          <div class="tour-item">
            <%= link_to tour, class: "tour-item--link" do %>
              <% if tour.cover_image.attached? %>
                <%= image_tag tour.cover_image.variant(resize: "400x400>"),
                              class: 'tour-item--image' %>
              <% end %>
              <p class="tour-item--title">
                <%= tour.title %>
                  <br>
                <% unless tour.booking_dates.empty? %>
                  <%= tour.booking_dates.first.day.strftime("%e %b") %> -
                  <%= tour.booking_dates.last.day.strftime("%e %b") %>
                <% else %>
                  &nbsp;
                <% end %>
                </p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        There is no tours
      <% end %>
    </div>
  </div>
<% end %>
