<%= c "container" do %>
  <div class="tour-index">
    <%= c "tour/title", text: t('tour_index_title') %>
    <div class="tour-index--grid">
      <% unless @tours_collection.empty? %>
        <% @tours_collection.each do |tour| %>
          <div class="grid--item">
            <%= link_to tour, class: "grid--item--link" do %>
              <div>
                <% if tour.cover_image.attached? %>
                  <%= image_tag tour.cover_image.variant(resize: "400x400>"),
                                class: 'grid--item--image' %>
                <% end %>
              </div>
              <div class="grid--item--text">
                <div class="grid--item--title">
                  <%= tour.title_with_country %>
                </div>
                <div class="grid--item--caption">
                  <%= tour.tour_caption %>
                </div>
                <div class="grid--item--dates">
                  <% unless tour.booking_dates.empty? %>
                    <%= t("from_date") %> <%= l( tour.booking_dates.first.day, format: :short ) %> <%= t("to_date") %>
                    <%= l( tour.booking_dates.last.day, format: :short ) %>
                  <% end %>
                </div>
                <% if company_signed_in? %>
                  <div class="grid--item--price">
                    <%= c "price", money: tour.price_braaam %>
                  </div>
                <% end %>
                <div class="grid--item--proposed_by">
                  <%= t "proposed_by" %> <%= tour.creator_name %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <% else %>
        <%= t('no_tours') %>
      <% end %>
    </div>
  </div>
<% end %>
