<div class="flex-item">
  <p>Braaam administration</p>
  <ul>
    <li><%= link_to "Tours", admin_tours_path %></li>
    <li><%= link_to "Bookings", admin_booking_dates_path %></li>
    <li><%= link_to "Companies", admin_companies_path %></li>
    <li><%= link_to "Managers", admin_managers_path %></li>
    <li><%= link_to "Log out", destroy_manager_session_path %></li>
  </ul>
</div>
