<p id="notice"><%= notice %></p>
<%= c "admin/title", text: Manager.model_name.human + "s" %>

<br>

<%= link_to t("admin.add_manager"), new_admin_manager_path, class: "btn" %>
<br>
<br><table>
  <thead>
    <tr>
      <th><%= Manager.human_attribute_name("full_name") %></th>
      <th><%= Manager.human_attribute_name("email") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.email %></td>
        <td><%= manager.full_name %></td>
        <td><%= link_to t("admin.show"), [:admin, manager], class: "btn" %> <%= link_to t("admin.edit"), edit_admin_manager_path(manager), class: "btn" %> <%= link_to t("admin.delete"), [:admin, manager], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<% @tours.each do |tour| %>
  <strong><%= tour.title %></strong>
  <% if tour.cover_image.attached? %>
    background image
    <div class="braaam-highlights--card--img-wrapper" style="width: 100px; height: 100px;background-image: url(<%= polymorphic_url tour.cover_image %>) !important;">
    </div>

    Image tag
    <%= image_tag tour.cover_image.variant(resize: "400x400>") %>
    <%= image_tag tour.cover_image %>
  <% else %>
    No Image
  <% end %>
  <br>
  <hr>
  <br>
<% end %>
