<%= form_with(model: [:admin, company], local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :company_address_line1 %>
    <%= form.text_field :company_address_line1, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :company_address_line2 %>
    <%= form.text_field :company_address_line2, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :company_country %>
    <%= form.text_field :company_country, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :company_npa %>
    <%= form.text_field :company_npa, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :company_city %>
    <%= form.text_field :company_city, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :reference_person_full_name %>
    <%= form.text_field :reference_person_full_name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :vat_number %>
    <%= form.text_field :vat_number, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :ape %>
    <%= form.text_field :ape, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :siret %>
    <%= form.text_field :siret, class: "input" %>
  </div>

  <% if @company.new_record? %>
    <fieldset>
      <legend>Security:</legend>
      <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password, autocomplete: "off", class: "input" %>
      </div>

      <div class="field">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, autocomplete: "off", class: "input" %>
      </div>
    </fieldset>
  <% end %>

  <div class="actions">
    <%= form.submit "Save", class: "submit" %>
    <%= link_to 'Back', admin_companies_path, class: "btn" %>
  </div>
  <br>
<% end %>
