<p id="notice"><%= notice %></p>

<%= c "admin/title", text: Company.model_name.human + "s" %>

<br>

<%= link_to t("admin.add_company"), new_admin_company_path, class: "btn" %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th><%= Company.human_attribute_name("name") %></th>
      <th><%= Company.human_attribute_name("email") %></th>
      <th><%= Company.human_attribute_name("vat_number") %></th>
      <th><%= Company.human_attribute_name("ape") %></th>
      <th><%= Company.human_attribute_name("siret") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.email %></td>
        <td><%= company.vat_number %></td>
        <td><%= company.ape %></td>
        <td><%= company.siret %></td>
        <td><%= link_to t("admin.show"), [:admin, company], class: "btn" %> <%= link_to t("admin.edit"), edit_admin_company_path(company), class: "btn" %> <%= link_to t("admin.delete"), [:admin, company], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
