<h1><span style="font-size:14px"><%= t('reservation_added_admin') %>,</span></h1>

<ul>
  <li><%= t('tour') %>: <%= @tour_name %></li>
  <li><%= t('date_reserved') %>: <%= @booked_date %></li>
  <li><%= t('client') %>: <%= @company_name %> - <%= @company_email %></li>
</ul>

<p><span style="font-size:14px"><%= t('follow_up_admin') %>.</span></p>
