<h1><span style="font-size:14px">Braaamjour <%= @company_name.to_s %>,</span></h1>

<p><span style="font-size:14px"><%= t('reservation_confirmation_client') %> <strong><%= @booked_date.to_s %></strong> <%= t('for_tour') %> <strong><%= @tour_name.to_s %></strong>.</span><br>
<br>
<span style="font-size:14px"><%= t('reservation_follow_up_client') %>.</span></p>
