<div class="booking-tour-caption">
  <%= image_tag @tour.cover_image, class: 'booking-tour-caption--image' if @tour.cover_image.attached? %>
  <div>
    <p class="booking-tour-caption--title"><%= @tour.title %></p>
    <p>
      <%= c "date", date: @date %><br>
      <%= c "price", money: @tour.price_braaam %>
    </p>
    <i><%= t ".others_organisers", count: @tour.booked_days_count %></i>
  </div>
</div>
