<div class="booking-tour-caption">
  <% t "booking_tour_caption_component.component_name" %>
  <%= image_tag @tour.cover_image, class: 'booking-tour-caption--image' if @tour.cover_image.attached? %>
  <div>
    <p class="booking-tour-caption--title"><%= @tour.title %></p>
    <p>
      <%= c "date", date: l(@date) %><br>
      <%= c "price", money: @tour.price_braaam %>
    </p>
    <i>There is <%= @tour.booked_days_count %> other organisers that book this event</i>
  </div>
</div>
