<%= c "tour/index_hero" %>
<%= c "braaam_highlights", tours: Tour.highlighted %>
<div style="margin-top: 40px;"></div>

<% if season == :summer %>
  <%= c "tour/index", tours_collection: @tours_summer, title: :summer %>
  <div style="margin-top: 60px;"></div>
  <%= c "tour/index", tours_collection: @tours_winter, title: :winter %>
<% else %>
  <%= c "tour/index", tours_collection: @tours_winter, title: :winter %>
  <div style="margin-top: 60px;"></div>
  <%= c "tour/index", tours_collection: @tours_summer, title: :summer %>
<% end %>
