<%= c "container" do %>
  <%= c "tour/title", text: t("add_tour") %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <p>Cette page te permet de proposer un artist en tournée aux autres stations membre du réseau BRAAAM. Avant d'aller plus loin, vérifie avec lui ces dates libres et négocie un petit rabais spécial "tournées" avec lui. t'inquiètes pas, l'artiste recevra les demandes de dates des autres stations par email et pourras les valider ou non.</p>

  <%= render "form" %>

  <%= c "hr" %>

  <%= c "booking/button", href: tours_path do %>
    <%= t("back_to_tours") %>
  <% end %>

<% end %>
