<%= c "tour/cover_picture", tour: @tour %>
<%= c "container" do %>

  <div>
    <%= c "row" do %>

      <%= c "column", size: 8 do %>

        <%= c "tour/title", text: @tour.title %>
        <%= c "tour/description", text: @tour.description %>
        <%= c "tour/call_to_action" %>

        <% if @tour.video_uri %>

          <%= c "tour/section", type: "video" do %>

            <%= c "tour/youtube", link: @tour.video_uri %>

          <% end %>

        <% end %>

        <% unless @tour.awards.empty? %>

          <%= c "tour/section", type: "awards" do %>

            <% @tour.awards.each do |award| %>
              <%= c "tour/award",
                caption: award.caption,
                year: award.award_year,
                institution: award.institution,
                country: award.country
              %>
            <% end %>

          <% end %>

        <% end %>

        <% unless @tour.comments.empty? %>

          <%= c "tour/section", type: "comments" do %>

            <% @tour.comments.each do |comment| %>
              <%= c "tour/comment",
                body: comment.comment_body,
                author_name: comment.author_name,
                created_at: comment.created_at
              %>
            <% end %>

          <% end %>

        <% end %>

        <br>
        <%= c "booking/button", href: tours_url, color: "blue" do %>
          <%= t "back" %>
        <% end %>
      <% end %>

      <%= c "column", size: 4 do %>
        <%= c "tour/side" do %>
          <%= c "tour/section_side", type: "needs" do %>

            <%= c "tour/need", value: @tour.need_tech_help?, type: "need_tech_help" %>
            <%= c "tour/need", value: url_for(@tour.tech_sheet), type: "tech_file" if @tour.need_tech_help? %>
            <%= c "tour/need", value: @tour.housing, type: "housing" %>
            <%= c "tour/need", value: @tour.catering, type: "catering" %>
            <!-- <%= c "tour/need", value: true, type: "transport" %> -->

          <% end %>
          <%= c "tour/section_side", type: "dates" do %>
            <% @tour.booking_dates.each do |date| %>
              <%= c "tour/booking_btn", date: date %>
            <% end %>
          <% end %>
          <%= c "tour/section_side", type: "prices" do %>
            <div style="text-decoration: line-through">
              Initial price: <%= c "price", money: @tour.price_normal %>
            </div>
            <div>
              Braaamed price: <strong><%= c "price", money: @tour.price_braaam %></strong>
            </div>
          <% end %>
        <% end %>

      <% end %>

    <% end %>
  </div>

  <%= c "tour/carousel", tours_collection: @tours %>
<% end %>
