<%= c "container" do %>
  <%= c "tour/title", text: t("my_bookings") %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% @tours.each do |tour| %>
    <h2><%= tour.title %></h2>
    <div><%= tour.tour_caption %></div>
    <div>
      <%= l( tour.booking_dates.first.day, format: :short ) %> -
      <%= l( tour.booking_dates.last.day, format: :short ) %>
    </div>
    <div><%= c "price", money: tour.price_braaam %></div>
    <%= c "tour/item_actions", tour_path: tour_path(tour), edit_path: edit_tour_path(tour) %>
  <% end %>
  <%= c "hr" %>

  <%= c "booking/button", href: tours_path do %>
    <%= t("back_to_tours") %>
  <% end %>
<% end %>
