<%= c "container" do %>
  <%= c "tour/title", text: "Reservation" %>
  <%= c "booking/tour_caption", tour: @tour, date: @booking_date.day %>

  <% if @booking_date.company.blank? %>
    <p><strong><%= t "booking_confirmation" %></strong></p>

    <%= form_with model: @booking_date, url: signup_path(@booking_date.id), method: :patch, local: true do |form| %>
      <%= form.hidden_field :company_email, value: current_company.email %>
      <%= form.submit (t "yes"), class: "submit-booking" %>
      <%= c "booking/button", href: url_for(@tour), color: "red" do %>
        <%= t "no" %>
      <% end %>

      <% if alert %>
        <%= c "booking/alert" do %>
          <%= alert %>
        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <p><strong><%= t "booking_already_taken" %></strong></p>
    <%= c "booking/button", href: url_for(@tour), color: "blue" do %>
      <%= t "back" %>
    <% end %>
  <% end %>

<% end %>
