<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Braaam Administration</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= stylesheet_pack_tag "application" %>
    <style media="screen">
      .body {
        height: 100vh;
        width: 100%;
      }

      .flex-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: auto;
        min-height: 100%;
      }

      @media screen and (max-width: 767px) {
        .flex-container  {
          display: block;
        }
      }
    </style>
  </head>

  <body class="body">
    <%= c "admin/header" %>
    <div class="flex-container">
      <%= c "admin/nav" %>
      <%= c "admin/body" do %>
        <%= yield %>
      <% end %>
    </div>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
