<!DOCTYPE html>
<html>
  <head>
    <title>BraaamTour</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= stylesheet_pack_tag "application" %>
    <!-- Hotjar Tracking Code for www.braaam.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:969237,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>

  <body class="body">
    <%= c "header" %>
    <%= yield %>
    <%= javascript_pack_tag "application" %>
    <%= c "footer" %>
  </body>
</html>
