<!DOCTYPE html>
<html>
  <head>
    <title>BraaamTour</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= stylesheet_pack_tag "application" %>
  </head>

  <body class="body">
    <%= c "header" %>
    <%= yield %>
    <%= javascript_pack_tag "application" %>
    <%= c "footer" %>
  </body>
</html>
