<%= link_to link, class: "tour-booking-btn js-tour-booking-btn #{"disable" if close?}" do %>
  <div class="tour-booking-btn--text">
    <%= c "date", date: @date.day %>
  </div>
  <div class="tour-booking-btn--status <%= "txt-green" unless close? %> <%= "txt-red" if close? %>">
    <%= c "fontawesome_icon", icon: "fas fa-calendar-check fa-lg" unless close? %>
    <%= c "fontawesome_icon", icon: "fas fa-calendar-times fa-lg" if close? %>
  </div>
<% end %>
